<div class="container p-4">
    <h1 class="text-center">TOTAL DE PRODUCTOS</h1>
    <br></br>
    <div class="row">
        
        {{#each produc}}
            <div class="col-md-3">
                <div class="card text-left">
                    <div class="card body"></div>                
                        <h5><b>Id Producto:</b> {{idPro}}</h5>
                        <h5><b>Nombre Producto:</b> {{nombrePro}}</h5>
                        <h5><b>Numero de existencia:</b> {{numExis}}</h5>
                        <h5> <b>Precio: </b> ${{precioPro}}</h5>                    
                        <a href="/link/eliminar/{{idPro}}" class="btn btn-danger">Eliminar</a>                
                </div>
            </div>
            {{else}}
            <div class="col-md4 mx-auto">
               <div class="card cardbody text-center"></div>
               <p>No hay ningún producto registrado</p>
               <a href="/add">Agregar nuevo producto</a>
            </div>
        {{/each}}

    </div>
</div>