<div class="container p-4">
    <h1 class="text-center">TOTAL DE COMPRAS</h1>
    <br></br>
    <div class="row">
        
        {{#each vercom}}
            <div class="col-md-3">
                <div class="card text-left">
                    <div class="card body"></div>    
                        <h7><b>Id Empleado:</b> {{fkUSu}}</h7>        
                        <h7><b>Id Producto:</b> {{fkPro}}</h7>
                        <h7><b>Fecha:</b> {{fecha}}</h7>
                        <h7><b>Precio Total:</b> ${{precio}}</h7>
                        <h7> <b>Hora: </b> {{hora}}</h7>                    
                </div>
                <p></p>
            </div>
        {{/each}}

    </div>
</div>